<doctype html>
<html>
    <head></head>
    <title>
        Heartattack prediction
    </title>
    
    <body>
        <p>Input features</p>
        
        <form>
        
            <p>Age :</p>      
                <input id = "1" name = "age" type = "text"></input>
                <br>
            
            <p>Sex :</p> 
                <input id = "2" name = "gender" value = "female" type = "radio">
                <label for="female">Female</label><br>
                <input id = "2" name = "gender" value = "male" type = "radio">
                <label for="male">Male</label><br>
                
            <p>cp :</p>      
                <input id = "3" name = "cp" type = "text"></input>
                <br>
                
            <p>trestbps :</p>      
                <input id = "4" name = "trestbps" type = "text"></input>
                <br>
                
            <p>chol :</p>      
                <input id = "5" name = "chol" type = "text"></input>
                <br>
            
            <p>fbs :</p> 
                <input id = "6" name = "fbs" value = "zero" type = "radio">
                <label for="zero">0</label><br>
                <input id = "6" name = "fbs" value = "one" type = "radio">
                <label for="one">1</label><br>
                
            <p>restecg (0/1/2):</p>      
                <input id = "7" name = "restecg" type = "text"></input>
                <br>
                
            <p>thalach :</p>      
                <input id = "8" name = "thalach" type = "text"></input>
                <br>
                
            <p>exang (0/1):</p>      
                <input id = "9" name = "exang" type = "text"></input>
                <br>
                
            <p>oldpeak:</p>      
                <input id = "10" name = "oldpeak" type = "text"></input>
                <br>
                
            <p>slope:</p>      
                <input id = "11" name = "slope" type = "text"></input>
                <br> 
                
            
           <input type="submit" value="Submit">

        </form>
    
    </body>
</html>